* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--white:#f1f1f1;
    --back: #212121;
}

body {
	margin: 0;
	font-family: Helvetica;
	font-size: 40px;
	color: var(--white);
	letter-spacing: 0.7em;
	background-color: var(--back);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.circle {
    position: absolute;
	width: 100px;
	height: 100px;
	filter: blur(5), brightness(5);

    background-color: rgba(255, 255, 255, 1);
    opacity: 0.4;
	border-radius: 50%;
    box-shadow: 0 0 100px 0px rgb(255, 220, 159), 0 0 100px 0 var(--white);
    animation: blink 8s linear reverse infinite;
}

@keyframes blink {
	0% {
		scale: 0.5;
		opacity: 0;
	background-color: rgba(255, 255, 255, 0.8);
	}
	25% {
		opacity: 0.5;
	background-color: rgba(255, 255, 255, 0.5);
	}
	40%{
		scale:1;
	}
	50% {
		scale: 1.1;
		opacity: 1;
	background-color: rgba(255, 255, 255, 1);
	}
	75% {
		opacity: 1;
	background-color: rgba(255, 255, 255, 1);
	}

	100% {
		opacity: 0;
	background-color: rgba(255, 255, 255, 0.8);
	}
	
}
@media (max-width: 1250px) {
	
	
}
@font-face {
	font-family: harry;
	src: url("./hp.TTF");
}

.canvas{
	font-family: harry;
	opacity: 0.4;
	margin-bottom: 50px;
	padding-left: 25px;
}
