/*COLORS*/
:root {
    --scar: #eeba32;
    --glasses: #020000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}

.canvas {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.scar {
    position: absolute;
    border-left: 1.2rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 5rem solid var(--scar);
}

.scar::after {
    content: "";
    position: absolute;
    border-left: 1.4rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 18rem solid var(--bg);
    top: -5rem;
    left: -10rem;
    transform: rotate(-3deg);
}

.s2 {
    top: 3.5rem;
    left: 0.95rem;
    transform: scale(-1);
}

.scr {
    animation: beat 2s infinite;
}

@keyframes beat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

.glasses-left,
.glasses-right {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.3rem solid var(--glasses);
    top: 9.5rem;
}

.glasses-left::after {
    content: "";
    position: absolute;
    width: 5.9rem;
    height: 7rem;
    border: 0.3rem solid;
    border-color: var(--glasses) transparent transparent transparent;
    border-radius: 47% 47% 0 0/50% 50% 0 0;
    top: 3.5rem;
    left: 8.5rem;
}

.glasses-left {
    left: -9rem;
}

.glasses-right {
    left: 5rem;
}